/* [less, public/less/bootstrap-components, alerts.less] */
body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Less NameError: variable @alert-padding is undefined in \\Users\\intern\\Sites\\match\\public\\less\\bootstrap-components\\alerts.less on line 10, column 12: \A 9 .alert { \A 10   padding: @alert-padding; \A 11   margin-bottom: @line-height-computed; \A  \A '; } 
                            
                            body * { 
                            display: none; 
                            } 