/* [less, public/less/bootstrap-components, buttons.less] */
body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Less NameError: .user-select is undefined in \\Users\\intern\\Sites\\match\\public\\less\\bootstrap-components\\buttons.less on line 23, column 3: \A 22   white-space: nowrap; \A 23   .user-select(none); \A 24  \A  \A '; } 
                            
                            body * { 
                            display: none; 
                            } 