/* [less, public/less/bootstrap-components, carousel.less] */
body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Less NameError: .transition is undefined in \\Users\\intern\\Sites\\match\\public\\less\\bootstrap-components\\carousel.less on line 19, column 5: \A 18     position: relative; \A 19     .transition(.6s ease-in-out left); \A 20  \A  \A '; } 
                            
                            body * { 
                            display: none; 
                            } 