/* [less, public/less/bootstrap-components, close.less] */
body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Less NameError: .opacity is undefined in \\Users\\intern\\Sites\\match\\public\\less\\bootstrap-components\\close.less on line 13, column 3: \A 12   text-shadow: @close-text-shadow; \A 13   .opacity(.2); \A 14  \A  \A '; } 
                            
                            body * { 
                            display: none; 
                            } 