/* [less, public/less/bootstrap-components, code.less] */
body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Less NameError: variable @font-family-monospace is undefined in \\Users\\intern\\Sites\\match\\public\\less\\bootstrap-components\\code.less on line 9, column 16: \A 8 pre { \A 9   font-family: @font-family-monospace; \A 10 } \A  \A '; } 
                            
                            body * { 
                            display: none; 
                            } 