/* [less, public/less/bootstrap-components, icons.less] */
body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Less FileError: \'variables.less\' wasn\'t found in \\Users\\intern\\Sites\\match\\public\\less\\bootstrap-components\\icons.less on line 2, column 1: \A 1  \A 2 @import \"variables.less\"; \A 3  \A  \A '; } 
                            
                            body * { 
                            display: none; 
                            } 