/* [less, public/less/bootstrap-components, popovers.less] */
body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Less NameError: .box-shadow is undefined in \\Users\\intern\\Sites\\match\\public\\less\\bootstrap-components\\popovers.less on line 20, column 3: \A 19   border-radius: @border-radius-large; \A 20   .box-shadow(0 5px 10px rgba(0,0,0,.2)); \A 21  \A  \A '; } 
                            
                            body * { 
                            display: none; 
                            } 