/* [less, public/less/bootstrap-components, utilities.less] */
body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Less RuntimeError: No matching definition was found for `.clearfix()` in \\Users\\intern\\Sites\\match\\public\\less\\bootstrap-components\\utilities.less on line 10, column 3: \A 9 .clearfix { \A 10   .clearfix(); \A 11 } \A  \A '; } 
                            
                            body * { 
                            display: none; 
                            } 