<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div>
			<ol class="nav navbar-nav navbar-right">
				<li {% if mixture.url == "choose-1" %}class="active"{% endif %}>
					<a href="choose-1"><span>01</span>Choose Your Products</a>
				</li>
				<li {% if mixture.url == "concerns-1" %}class="active"{% endif %}>
					<a href="concerns-1"><span>02</span>Tell Us Your Concerns</a>
				</li>
				<li {% if mixture.url == "customize-1" %}class="active"{% endif %}>
					<a href="customize-1"><span>03</span>Customize Your Match</a>
				</li>
			</ol>
		</div>
	</div>
</div>